We have created descriptions of "anti-patterns" that defines worst practices and bad habbits when it comes to architecting, building, releasing or maintaining IT systems.
One of these anti-pattern is "{{ pattern_name }} which is described as "{{ short_description }}".
