We have created descriptions of the "Evergreen patterns" that defines best practices and methodologies
to help teams maintain a high quality of service by building resilient, highly available, scalable and frugal software systems.
One of these patterns is "{{ pattern_name }}" and its short description is "{{ short_description }}"".