/* Put your custom styles here and run `npm start` from the "src" directory on */
@font-face {
  font-family: 'Michelin Black';
  src: url("../fonts/Michelin-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Michelin-Black.otf") format("opentype"), url("../fonts/Michelin-Black.woff") format("woff"), url("../fonts/Michelin-Black.ttf") format("truetype"), url("../fonts/Michelin-Black.svg#Michelin-Black") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Michelin Bold';
  src: url("../fonts/Michelin-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Michelin-Bold.otf") format("opentype"), url("../fonts/Michelin-Bold.woff") format("woff"), url("../fonts/Michelin-Bold.ttf") format("truetype"), url("../fonts/Michelin-Bold.svg#Michelin-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Michelin Semi-Bold';
  src: url("../fonts/Michelin-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Michelin-SemiBold.otf") format("opentype"), url("../fonts/Michelin-SemiBold.woff") format("woff"), url("../fonts/Michelin-SemiBold.ttf") format("truetype"), url("../fonts/Michelin-SemiBold.svg#Michelin-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Michelin Light';
  src: url("../fonts/Michelin-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Michelin-Light.otf") format("opentype"), url("../fonts/Michelin-Light.woff") format("woff"), url("../fonts/Michelin-Light.ttf") format("truetype"), url("../fonts/Michelin-Light.svg#Michelin-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Michelin';
  src: url("../fonts/Michelin-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Michelin-Regular.otf") format("opentype"), url("../fonts/Michelin-Regular.woff") format("woff"), url("../fonts/Michelin-Regular.ttf") format("truetype"), url("../fonts/Michelin-Regular.svg#Michelin-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Michelin Unit Bold';
  src: url("../fonts/MichelinUnitText-Bold.woff") format("woff"), url("../fonts/MichelinUnitText-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Michelin Unit BoldItalic';
  src: url("../fonts/MichelinUnitText-BoldItalic.woff") format("woff"), url("../fonts/MichelinUnitText-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Michelin Unit Light';
  src: url("../fonts/MichelinUnitText-Light.woff") format("woff"), url("../fonts/MichelinUnitText-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Michelin Unit LightItalic';
  src: url("../fonts/MichelinUnitText-LightItalic.woff") format("woff"), url("../fonts/MichelinUnitText-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Michelin Unit Medium';
  src: url("../fonts/MichelinUnitText-Medium.woff") format("woff"), url("../fonts/MichelinUnitText-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Michelin Unit MediumItalic';
  src: url("../fonts/MichelinUnitText-MediumItalic.woff") format("woff"), url("../fonts/MichelinUnitText-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Michelin Unit';
  src: url("../fonts/MichelinUnitText-Regular.woff") format("woff"), url("../fonts/MichelinUnitText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Michelin Unit Italic';
  src: url("../fonts/MichelinUnitText-RegularItalic.woff") format("woff"), url("../fonts/MichelinUnitText-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Michelin Unit SemiBold';
  src: url("../fonts/MichelinUnitText-SemiBold.woff") format("woff"), url("../fonts/MichelinUnitText-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Michelin Unit SemiBoldItalic';
  src: url("../fonts/MichelinUnitText-SemiBoldItalic.woff") format("woff"), url("../fonts/MichelinUnitText-SemiBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Michelin Unit Titling Black';
  src: url("../fonts/MichelinUnitTitling-Black.woff") format("woff"), url("../fonts/MichelinUnitTitling-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Michelin Unit Titling Bold';
  src: url("../fonts/MichelinUnitTitling-Bold.woff") format("woff"), url("../fonts/MichelinUnitTitling-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Michelin Unit Titling Light';
  src: url("../fonts/MichelinUnitTitling-Light.woff") format("woff"), url("../fonts/MichelinUnitTitling-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Michelin Unit Titling';
  src: url("../fonts/MichelinUnitTitling-Regular.woff") format("woff"), url("../fonts/MichelinUnitTitling-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Michelin Unit Titling SemiBold';
  src: url("../fonts/MichelinUnitTitling-SemiBold.woff") format("woff"), url("../fonts/MichelinUnitTitling-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "michelin-icon";
  src: url("../fonts/michelin-icon.eot");
  src: url("../fonts/michelin-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/michelin-icon.woff") format("woff"), url("../fonts/michelin-icon.ttf") format("truetype"), url("../fonts/michelin-icon.svg#michelin-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
  
#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Michelin Black", sans-serif;
}